 
 

#projects .filters {
  margin-top: 50px;
}
#projects .filters ul {
  padding: 0;
}
#projects .filters ul li {
  list-style: none;
  display: block;
  padding: 15px 0px;
  cursor: pointer;
  position: relative;
  font-size: 13px;
  font-weight: 700;
  color: #9a9a9a;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#projects .filters ul li.active,
#projects .filters ul li:hover {
  color: #5fb759;
}
#projects .filters-content {
  margin-top: 50px;
}
#projects .filters-content .show {
  opacity: 1;
  visibility: visible;
  transition: all 350ms;
}
#projects .filters-content .hide {
  opacity: 0;
  visibility: hidden;
  transition: all 350ms;
}

#projects .filters-content .all {
  margin-bottom: 30px;
}

#projects .filters-content .item {
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#projects .filters-content .item:hover {
  opacity: 0.75;
}
#projects .filters-content .item .p-inner {
  padding: 20px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#projects .filters-content .item .p-inner h5 {
  font-size: 15px;
}
#projects .filters-content .item .p-inner .cat {
  font-size: 13px;
}
#projects .filters-content .item img {
  width: 100%;
}

#projects {
  padding-top: 120px;
}

#projects .section-heading {
  margin-bottom: 60px;
}

#projects .section-heading h6 {
  color: #5fb759;
}


@media (max-width: 992px) {
  #projects .filters ul li {
    display: inline-block;
    margin-right: 10px;
    padding: 0px;
  }
  #projects .section-heading {
    margin-bottom: 0px;
  }
}